@import "tailwindcss";

:root{
  --background: #121214;
  --foreground: #ffffff;
}

@theme inline{
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}
*::selection {
  background: #15d5ae;
  color: black;
}
*::-moz-selection {
  background: #15d5ae;
  color: black;
}
*::-webkit-selection {
  background: #15d5ae;
  color: black;
}
body{
    @apply bg-[var(--color-background)] text-[var(--color-foreground)];
    
}


button{
    @apply cursor-pointer;
}