@import "tailwindcss";

:root{
  --background: #121214;
  --foreground: #ffffff;
}

@layer base {
  body {
    @apply  bg-[var(--background)] text-[var(--foreground)] font-sans;
  }
}

button{
    @apply cursor-pointer;
}